{:model
 [[{:db/id #db/id[:db.part/db]
    :db/ident :model.type/siteTraffic}
   {:db/id #db/id[:db.part/db]
    :db/ident :model/userCount
    :db/valueType :db.type/long
    :db/doc "Number of API users"
    :db/cardinality :db.cardinality/one
    :db.install/_attribute :db.part/db}
   {:db/id #db/id[:db.part/db]
    :db/ident :model/meanPayloadSize
    :db/valueType :db.type/long
    :db/doc "Mean size of payload (geometric distribution)."
    :db/cardinality :db.cardinality/one
    :db.install/_attribute :db.part/db}
   {:db/id #db/id[:db.part/db]
    :db/ident :model/meanHoursBetweenHits
    :db/valueType :db.type/long
    :db/doc "Mean time between api hits in hours (geometric distribution)"
    :db/cardinality :db.cardinality/one
    :db.install/_attribute :db.part/db}]]

 :test
 [[{:db/id #db/id[:db.part/db]
    :db/ident :test.type/putget}
   {:db/id #db/id[:db.part/db]
    :db/ident :agent.type/apiUser}
   {:db/id #db/id[:db.part/db]
    :db/ident :action.type/trade}]]
 }
